.injury-responsive-table {
  width: 100%;
}

.injury-responsive-table th {
  text-align: left;
}

.injury-responsive-table th.right-align {
  text-align: right;
}

@media (max-width: 768px) {
  .injury-responsive-table th.left-align {
      text-align: left;
  }

  .injury-responsive-table th.right-align {
      text-align: right;
  }
}


.injury-center-button {
  font-family: 'Petrona', sans-serif;
  width: 289px;
  height: 53px;
  transition: background-color 0.3s;
}

.injury-heading {
  text-align: center;
  margin: 0; /* Optional: remove default margins */
}


