.notification-card {
    background-color: #f8f9fa; /* Light gray background */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Inner padding */
    margin-bottom: 10px; /* Space between cards */
    box-shadow: rgba(83, 107, 126, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; /* Subtle shadow */
    border-left: 5px solid #198754; /* Green left border */
    position: relative; /* Ensure proper positioning */
    display: flex; /* Flexbox for centering */
    align-items: center; /* Vertically center content */
    width: 100%; /* Ensure it takes full width of the container */
    max-width: 400px; /* Optional max width */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
}

.studnotification-container {
    display: flex;
    flex-direction: column;
    gap: 10px;  /* Space between individual cards */
    justify-content: center;
    align-items: center;  /* Center content horizontally */
    padding: 20px; /* Optional padding around the container */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .studnotification-container {
        width: 95%;
        padding: 8px;
        margin-top: 180px;
    }
}

.studnotification-container p {
    margin: 0; /* Remove default margin */
    font-size: 1rem; /* Adjust font size */
    color: #343a40; /* Dark gray text */
}
