.circle-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #ddd;
    position: relative;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.change-profile-text {
    font-size: 18px;
    color: #636363;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    font-weight: bold;
}

.form-label {
    font-weight: bold;
    color: #495057;
}

.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:hover {
    background-color: #28a745;
    color: #fff;
}
